*.iml
.kotlin
.gradle
**/build/
build
*/build
xcuserdata
xcuserdata/
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
*teEcclesia-keystore.jks
*keystore_base64.txt
*Secrets.plist
Pods/
*.jks
*.gpg
*yarn.lock
debug.log
*/google-services.json
*/GoogleService-Info.plist
*GoogleService-Info.plist
/teEcclesiaApp/release
/.agents/
**/bin/
/androidApp/release
.swiftpm-locks/
/.artifacts
